/* global */
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Markazi+Text:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Source+Sans+Pro:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'Markazi Text', serif; */
  font-family: "Karla", sans-serif;
}

.title {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  white-space: nowrap;
}

.subtitle {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  white-space: nowrap;
}

/*Header starts here */
header {
  background-color: #edefee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 10rem 1rem 10rem;
  align-items: center;
}

header img {
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  white-space: nowrap;
}
nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: inherit;
}

nav ul li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5rem;
  height: 2px;
  width: 0;
  background-color: #495e57;
}

nav ul li:hover::after {
  width: 100%;
  transition: width 0.8s ease-in-out;
}
/* Main section start's here */
main {
  /* height: 100vh; */
}
/* Header Section start's here */
.header-section-container {
  background-color: #495e57;
  color: #edefee;
  padding: 1rem 10rem 1rem 10rem;
  position: relative;
  display: flex;
  height: 350px;
}
.header-section-left-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.header-section-left-container .title {
  color: #f4ce14;
}
.header-section-left-container button,
.menu-section-header button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  /* border: 1px solid #333333; */
  border: none;
  color: #333333;
}
.header-section-right-container {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  height: 340px;
  right: 10rem;
  background-color: #495e57;
}
.header-section-right-container img {
  object-fit: cover;
}

/*Menu section starts here*/

.menu-section-container {
  background-color: #edefee;
  padding: 1rem 10rem 1rem 10rem;
  display: flex;
  flex-direction: column;
}

.menu-section-header {
  display: flex;
  justify-content: space-between;
}

.menu-section-header .title {
  color: #333333;
}
.menu-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 10px;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  overflow: hidden;
  background-color: #edefee;
  flex-shrink: 0;
  /* border: 1px solid #333333; */
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.menu-image {
  background-color: #edefee;
  height: 200px;
  width: 100%;
}

.menu-image img {
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.food-description-container {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.food-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-title {
  font-family: "Markazi Text", serif;
  font-size: 32px;
}
.menu-section-scroller {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 3rem;
  padding-top: 2rem;
  scrollbar-color: #495e57 #edefee;
}

/* Testimonials starts here */
.testmonials-section-container {
  background-color: #495e57;
  padding: 3rem 10rem 3rem 10rem;
}

.testimonials-header {
  width: 100%;
  text-align: center;
}

.testimonials-header .title {
  color: #f4ce14;
}
.reviews-container {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 2rem;
  scrollbar-color: #edefee #495e57;
}
.reviews-container::-webkit-scrollbar-track {
  background: #495e57;
}

.reviewer-container {
  width: 250px;
  background-color: #edefee;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-shrink: 0;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.reviewer-top-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.reviewer-image-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 150px;
}
.reviewer-image-container {
  background-color: #495e57;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.bold {
  font-weight: bold;
}
.reviewer-image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: fill;
}

.reviewer-star-number-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.star-container {
  display: flex;
  gap: 1px;
}
.star {
  color: #f4ce14;
}

/* About Section starts here */
.about-section-container {
  display: flex;
  background-color: #edefee;
  padding: 3rem 10rem 3rem 10rem;
  justify-content: space-between;
  height: 600px;
  color: #333333;
}

.about-section-left-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-section-right-container {
  position: relative;
}
.about-section-right-container .image1 {
  position: relative;
  left: -100px;
  object-fit: cover;
}

.about-section-right-container .image2 {
  position: absolute;
  top: 100px;
  left: 0px;
  object-fit: cover;
}

/* Footer starts here */
.footer-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
  padding: 3rem 10rem 3rem 10rem;
  background-color: #333333;
  color: #edefee;
}
.footer-logo {
  height: 200px;
  width: 100px;
}

.footer-logo img {
  height: 200px;
  width: 100px;

  object-fit: fill;
}
.footer-links-container {
  display: flex;
  justify-content: space-between;
}
.footer-links-section {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-links-section p {
  font-size: 32px;
  white-space: nowrap;
}
.footer-links-section ul li {
  display: block;
  position: relative;
  font-size: 18px;
  padding-top: 0.5rem;
  width: fit-content;
  padding-bottom: 0.1rem;
}
.footer-links-section ul {
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

.footer-links-section ul li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1rem;
  height: 2px;
  width: 0;
  background-color: #edefee;
}

.footer-links-section ul li:hover::after {
  width: 100%;
  transition: width 0.8s ease-in-out;
}
